@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    overflow-y: hidden;
    text-decoration: none;
    list-style: none;
}


nav{
    position: fixed;
    background-color: black;
}
.container {
    width: 100vw;
    height: 10vh;
}
.container {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}
.container a {
    color: white;
    font-size: 80px;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
}




body{
    height: 90vh;
    background-image: linear-gradient(#036b52, #2fc18c);
}